# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\гк\IDEA projects\Lambda\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
